@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #ed2d34;
}

body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body.active {
  padding-left: 30rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #444;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.heading span {
  color: #ed2d34;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5rem;
  padding: 1.2rem 3rem;
  border: 0.2rem solid #444;
  cursor: pointer;
  background: none;
  color: #444;
  font-size: 2rem;
  text-transform: capitalize;
}
.btn:hover {
  border-color: #ed2d34;
  color: #fff;
  background: #ed2d34;
}

/* ======= Header Section/Seção de Cabeçalho ======== */
.header {
  position: fixed;
  top: 0;
  left: -31rem;
  height: 100%;
  width: 30rem;
  background: #ed2d34;
  padding: 2rem;
  z-index: 1000;
}
.header.active {
  left: 0;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.header .navbar {
  padding: 30% 0;
}
.header .navbar a {
  display: block;
  margin: 2rem 0;
  font-size: 2rem;
  color: #fff;
}
.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}
.header .share {
  text-align: center;
}
.header .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #444;
  background: #fff;
  margin: 0 0.3rem;
}
.header .share a:hover {
  background: #444;
  color: #fff;
}
.header .credit {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 3rem;
  line-height: 1.5;
}

/* Menu-btn/Botão de menu */
#menu-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background: #ed2d34;
  color: #fff;
  height: 5rem;
  /*altura*/
  width: 5rem;
  /*Largura*/
  line-height: 5rem;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1100;
  text-align: center;
}
#menu-btn.fa-times {
  top: 1rem;
  left: 25rem;
}

/* ======= Banner Section/Seção de Banner ======== */
.banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  flex-wrap: wrap-reverse;
}
.banner .content {
  flex: 1 1 41rem;
}
.banner .content span {
  font-size: 2.5rem;
  color: #ed2d34;
}
.banner .content h3 {
  font-size: 4rem;
  color: #444;
  text-transform: capitalize;
  padding-top: 1rem;
}
.banner .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.banner .image {
  flex: 1 1 41rem;
}
.banner .image img {
  width: 100%;
}

/* ======= Products Section/Seção de Produtos ======== */
.products .slide {
  text-align: center;
}
.products .slide img {
  height: 25rem;
  margin: 5rm 0;
  transform: scale(0.5);
}
.products .slide h3 {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #444;
  text-transform: capitalize;
}
.products .slide .btn {
  opacity: 0;
}
.products .swiper-slide-active img {
  transform: scale(1);
}
.products .swiper-slide-active h3, .products .swiper-slide-active .btn {
  opacity: 1;
}

/* ======= Products Preview Section/Seção de Visualização de Produtos ======== */
.products-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.products-preview-container .product-preview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  background: #fff;
  padding: 9%;
  position: relative;
  display: none;
}
.products-preview-container .product-preview .fa-times {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}
.products-preview-container .product-preview .fa-times:hover {
  color: #ed2d34;
  transform: rotate(90deg);
}
.products-preview-container .product-preview .image {
  flex: 1 1 40rem;
}
.products-preview-container .product-preview .image img {
  width: 100%;
}
.products-preview-container .product-preview .content {
  flex: 1 1 40rem;
}
.products-preview-container .product-preview .content h3 {
  font-size: 3rem;
  color: #444;
  text-transform: capitalize;
}
.products-preview-container .product-preview .content p {
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.products-preview-container .product-preview .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}
.products-preview-container .product-preview .content .stars i {
  color: #ed2d34;
}
.products-preview-container .product-preview .content .stars span {
  color: #666;
}
.products-preview-container .product-preview .content .price {
  font-size: 3rem;
  color: #444;
  text-transform: capitalize;
  padding: 1rem 0;
}

/* ======= Services Section/Seção de Serviços ======== */
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.service .box {
  text-align: center;
  padding: 2rem;
}
.service .box i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ed2d34;
}
.service .box p {
  font-size: 2rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

/* ======= Review Section/Seção de Review ======== */
.reviews .slide {
  text-align: center;
  padding: 2rem;
}
.reviews .slide i {
  font-size: 4rem;
  color: #666;
  margin-bottom: 1rem;
}
.reviews .slide p {
  font-size: 2rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem 0;
}
.reviews .slide h3 {
  font-size: 1.7rem;
  color: #444;
  text-transform: capitalize;
}

/* ======= Contact Section/Seção de Contato ======== */
.contact {
  padding-bottom: 12rem;
}
.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact .row form {
  flex: 1 1 41rem;
}
.contact .row form .box {
  padding: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #444;
  width: 100%;
}
.contact .row form .box:focus {
  border-color: #ed2d34;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.contact .row .contact-info {
  flex: 1 1 41rem;
}
.contact .row .contact-info h3 {
  padding-bottom: 1rem;
  font-size: 3rem;
  color: #444;
  text-transform: capitalize;
}
.contact .row .contact-info .grapgh {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.contact .row .contact-info .icons {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact .row .contact-info .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  background: #ed2d34;
  color: #fff;
  text-align: center;
}
.contact .row .contact-info .icons p {
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
  padding: 0;
}
.contact .row .contact-info .share {
  padding-top: 2rem;
}
.contact .row .contact-info .share a {
  font-size: 3rem;
  margin-right: 2rem;
  color: #666;
}
.contact .row .contact-info .share a:hover {
  color: #ed2d34;
}

/* ======= Responsive/Responsividade ======== */
@media (max-width: 1200px) {
  body.active {
    padding-left: 0;
  }

  .header.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .banner .content h3 {
    font-size: 3rem;
  }

  .products .slide img {
    height: 15rem;
  }
}

/*# sourceMappingURL=styles.css.map */
