@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Montserrat', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   transition: all .2s linear;
}

$red:#ed2d34;
$black:#444;
$white:#fff;
$light-color:#666;
$border:.2rem solid $black;

@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap:2rem;
}

@mixin flex($align) {
   display: flex;
   align-items: $align;
   flex-wrap: wrap;
   gap:3rem;
}

@mixin titleText($titleSize) {
   font-size: $titleSize;
   color:$black;
   text-transform: capitalize;
}

@mixin graphText($graphSize) {
   font-size: $graphSize;
   color:$light-color;
   line-height: 2;
   padding:1rem 0;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;

   &::-webkit-scrollbar{
      width:1rem;
   }

   &::-webkit-scrollbar-track{
      background: transparent;
   }

   &::-webkit-scrollbar-thumb{
      background: $red
   }
}

body{
   background: url(../images/bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

   &.active{
      padding-left: 30rem;
   }
}

section {
    padding: 5rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5rem;
    padding: 1.2rem 3rem;
    border: $border;
    cursor: pointer;
    background: none;
    color: $black;
    font-size: 2rem;

    &:hover {
        border-color: $red;
        color: $white;
        background: $red;
    }
}


/* ======= Header Section/Seção de Cabeçalho ======== */
.header {
    position: fixed;
    top: 0;
    left: -31rem;
    height: 100%;
    width: 30rem;
    background: $red;
    padding: 2rem;
    z-index: 1000;

    &.active {
        left: 0;
    }

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;
    }

    .navbar {
        padding: 30% 0;

        a {
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
            color: $white;

            &:hover {
                text-decoration: underline;
                text-underline-offset: .7rem;
            }
        }
    }

    .share {
        text-align: center;

        a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: $black;
            background: $white;
            margin: 0 .3rem;

            &:hover {
                background: $black;
                color: $white;
            }
        }
    }

    .credit {
        text-align: center;
        font-size: 2rem;
        color: $white;
        margin-top: 3rem;
        line-height: 1.5;
    }
}

/* Menu-btn/Botão de menu */
#menu-btn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background: $red;
    color: $white; 
    height: 5rem; /*altura*/
    width: 5rem; /*Largura*/
    line-height: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1100;
    text-align: center;

    &.fa-times {
        top: 1rem;
        left: 25rem;
    }
}


/* ======= Banner Section/Seção de Banner ======== */
.banner {
    @include flex(center);
    flex-wrap: wrap-reverse;

    .content {
        flex: 1 1 41rem;

        span {
            font-size: 2.5rem;
            color: $red;
        }

        h3 {
            @include titleText(4rem);
            padding-top: 1rem;
        }

        p {
            padding: 1rem 0;
            @include graphText(1.7rem);
        }
    }

    .image {
        flex: 1 1 41rem;

        img {
            width: 100%;
        }
    }
}
















/* ======= Responsive/Responsividade ======== */
@media (max-width: 1200px){
    
    body.active {
        padding-left: 0;
    }

    .header.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
    }
}

@media (max-width: 991px){
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .banner .content h3 {
        font-size: 3rem;
    }

    
}








/*
Caminho para o gitbash 
cd C:/Users/Daniel_Oliveira/Documents/GitHub/shoe-landing-page-website

SASS
sass --watch ./css/styles.scss:./css/styles.css

24m
*/